/*alumnos/login*/
input#num_cta{
   width: 100%;
   text-align: left;
}
.login-form .icon-uno{
  width: 34px;
  height: 32px;
  background-image: url("../images/login.png");
  background-repeat: no-repeat;
  background-color: #cccccc;
}
.login-form .icon-dos{
  width: 34px;
  height: 32px;
  background-image: url("../images/pass.png");
  background-repeat: no-repeat;
}

.input-group-addon.input-group-addon-custom {
    padding: 0px 12px;
    background-color: white;
}
/* AUTORIZACIÓN DE TRANSFERENCIA DE INFORMACIÓN */
/*alumnos/ati*/
.cont_aut{
   margin-bottom: 3%;
   margin-top: 2%;
}
.ati_vista div, p{
   font-family: Arial, sans-serif;
   font-size: 18.5px;
}
.d_m{
   margin-left: 19%;
   margin-right: 19%;
   margin-top: 2%;
   margin-bottom: 2%;
}
.width_n{
   width: 83%;
}
.width_c{
   width: 93%;
}
.width_t{
   width: 30%;
}
.width_ce{
   width: 99%;
}
.div_cont{
   width: 80%;
   margin: auto;
   margin-top: 50px;
}
.bloque{
   margin-top: 1px;
   margin-bottom: 8px;
   height: 1px;
   background-color: black;
}
.line{
   width: 300px;
   height: 1px;
   background-color: black;
   position: relative;
   left: 27%;
}
.mayus{
   text-transform: uppercase;
}

/* Documento PDF de la ATI */
.ati_pdf h1{ font-size: 12px; }

.ati_pdf div, .ati_pdf p, .tabla_i td
{
   font-family: Arial, sans-serif;
   font-size: 12px;
   margin: 0;
}
.ati_pdf br, .ati_pdf hr {
   line-height: 12px;
}
.cont_aut .date{
   text-align: right;
}
.cont_aut .form{
   width: 80%;
   margin: auto;
}
.cont_aut .nota, .cont_aut .correo {
    color: #00a5ff;
}
.cont_aut #plantel {
    width: 50%;
    display: inline-table;
    background-color: lightblue;
}
.help-block{ color: #B22222; font-size: 15px;}

.table-header td{
  font-family: 'arial';
  font-size: 2px;
}

.dup p{ font-size: 15px; }
.tabla, .tabla_i { width: 100%; }
.pdf_c p { font-size: 12px; }
.pdf_c {margin-top: 0px;}

@page { margin: 5mm; }

.uni_na {
  position: absolute;
  right: 18px;
}
.sub{
   font-size:5px;
}

.info_alumno br{ line-height: 3px; }
.info_alumno { width: 90%; padding-left: 4%; }
.seccion_info { padding-left: 4.2%; }

.super{
  vertical-align:super;
  font-size: 10px;
  font-weight: bold;
}

.head_DGP h3{
  line-height: 48%;
  font-size: 15px;
  font-weight: bold;
}

#t01 {
    border-collapse: collapse;
    width: 100%;
    font-size: 11px;
    padding-top: 3%;
}

#t01 th, #t01 td {
    text-align: left;
    padding: 2px;
}

#t01 tr:nth-child(even){background-color: #F5F5F5}

#t01 th {
    background-color: #5D6975;
    color: white;
}

#t02 {
    border-collapse: collapse;
    width: 100%;
    font-size: 09px;
    padding-top: 3%;
}

#t02 th, #t02 td {
    text-align: left;
    padding: 2px;
}

#t02 tr:nth-child(even){background-color: #F5F5F5}

#t02 th {
    background-color: #A0A0A0;
    color: black;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: justify;
  font-size: 13px;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 95%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.aclaracion {
  font-size: 12px;
  text-align: justify;
}
